.ImageGrid .filepond--panel-root {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid lightgrey;
  border-radius: 0px;
}

/* .ImageGrid .FilepondInactive
.filepond--file-action-button {
  visibility: hidden;
}

.ImageGrid .FilepondInactive
.filepond--action-remove-item {
  visibility: hidden;
} */

.ImageGrid .FilepondInactive
.filepond--file-info {
  visibility: hidden;
}