.ItemInfo {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SerialInfo {
  font-weight: bold;
}

.WarrantyInfo {
  align-items: center;
}

.ModelInfo {
  font-weight: bold;
}