.LoadingButton {
  margin-top: 30px;
}

.LoadingButton .spinning {
  margin-right: 10px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}