.App {
  padding: 0px;
  position: relative;
}

.App .navbar-brand {
  font-weight: normal;
}

.Loading {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Loading .spinning {
  width: 50px;
  height: 50px;
  color: grey;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
